{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block body %}

<button class="button login" disabled> <a href="/login/">Login</a></button>

<div class="loginbox"></div>

<p class="text", style="font-size: 200%; top: 150px; left: 15%;">Login to continue:</p>
<p class="text", style="font-size: 200%; top: 310px; left: 49%;">Or</p>
<p class="text", style="font-size: 200%; top: 150px; left: 55%;">Sign up to continue:</p>

<div style="position: absolute; width: 5px; height: 200px; background-color: dimgray; top: 140px; left: 50%;border-radius: 40px;"></div>

<div style="position: absolute; width: 5px; height: 200px; background-color: dimgray; top: 390px; left: 50%;border-radius: 40px;"></div>

{% endblock %}